<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799804376050-jfp745p8g3akpctn113h6946g5v7j8i8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799804376050-jfp745p8g3akpctn113h6946g5v7j8i8</string>
	<key>API_KEY</key>
	<string>AIzaSyA540ZmYT2QFGHJYyfu4s6ToaSqDGvZiu0</string>
	<key>GCM_SENDER_ID</key>
	<string>799804376050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>e-ticaret-c9366</string>
	<key>STORAGE_BUCKET</key>
	<string>e-ticaret-c9366.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799804376050:ios:c6920533fd4d77666f616b</string>
</dict>
</plist>